body{
    background-color: #F2F0F2;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
}

.header_container{
    padding: 20px 10px;
    display: flex;
    align-items: center;
    background-color: #032A2F;
    font-weight: 600;
    margin-bottom: 10px;
    box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.75);
    text-decoration: none;
}

.title{
    font-size: 1.5rem;
    margin-left: 10px;
    font-weight: 600;
    color: #EDE8EF;
}

.main_text{
    font-size: 1.75rem;
    margin-left: 10px;
    vertical-align: middle;
    color: #030303;
    font-weight: 600;
    margin-bottom: 8px;
}

.main_container{
    margin: 20px 0;
}

.icon{
    width: auto;
    height: 40px;
}

.footer_container{
    padding: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #030303;
    font-weight: 600;
    margin-top: 45px;
    height: 60px;
}

.footer_text{
    font-size: 1rem;
    color: #EDE8EF;
}

.footer_social{
    height: 15px;
    width: auto;
}